.active-trend-card,
.inactive-trend-card {
    margin-top: 20px; 
    width: 90%; 
    height: auto; 
}

.active-trend-card {
    background-color: #F2A000;
}

.inactive-trend-card {
    background-color: #99B5CB; 
}

.trend-card-title {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 600;
}

.trend-card-horizontal {
    height: 3px; 
    margin-left: 6px;
    margin-right: 30px;
    border-width: 0px;
    background-color: white; 
}

.trend-card-creation-date {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 600;
}

.trend-card-time-period {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

.active-report-window {

}

.inactive-report-window {
    display: none;
}