.trend-slider-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 70%;
  padding: 20px; /* Add padding for better visibility */
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1); /* Add a shadow for better separation */
  z-index: 3;
  transform: translateX(+35%);
}

.trend-slider-label {
  margin-bottom: 10px;
}

.trend-slider-input {
  width: 100%;
}
