.trend-form-container {
    width: 50%;
    height: 30%;
    position: fixed;
    bottom: 1.6rem;
    left: 20rem;
    z-index: 2;
  }
  
  .trend-form-reportform {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: #001C32;
    color: white;
  }
  
  .trend-form-reportform .title {
    width: 100%;
    background-color: #3A4B58;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    text-align: center;
    font-size: 0.65rem;
    padding: 0.3rem 0;
  }
  
  .trend-form-reportform .infotype {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .trend-form-reportform .infotype table, th, td {
    border-collapse: collapse;
    border: 1px white solid;
  }
  
  .trend-form-reportform .infotype td {
    text-align: center;
  }
  
  .trend-form-reportform .infotype table {
    margin: 1rem;
    width: 90%;
    height: 2rem;
  }
  
  .trend-form-reportform .reports h1 {
    font-size: 1rem;
    margin: 0 1rem;
  }
  
  .trend-form-reportform .tank,
  .trend-form-reportform .infantry,
  .trend-form-reportform .helicopter,
  .trend-form-reportform .plane {
    display: flex;
  }
  
  .trend-form-reportform .amounts {
    margin-left: auto;
    margin-right: 5%;
  }
  
  .trend-form-reportform input[type="checkbox"] {
    margin-right: 1rem;
  }
  
  .trend-form-reportform input[type="number"] {
    width: 4rem;
  }
  
  .trend-form-header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
  }
  
  .trend-form-title {
    padding-top: 10px;
    padding-left: 20px;
    font-size: 25px;
  }

  .trend-form-submit {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer; 
    padding-left: 5px;
    padding-right: 5px; 
    border-radius: 5px;
    font-size: 22px;
    background-color: white; 
    color: black; 
  }

  .trend-form-submit:hover {
    background-color: grey; 
    color: white; 
  }

  .trend-form-scrollable-window {
    overflow-y: auto; 
  }