.trend-form-container {
    width: 42%;
    height: 25%;
    position: fixed;
    bottom: 3rem;
    left: 25rem;
    z-index: 2;
  }
  
  .trend-form-reportform {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: #001C32;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: white;
  }
  
  .trend-form-reportform .title {
    width: 100%;
    background-color: #3A4B58;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    text-align: center;
    font-size: 0.65rem;
    padding: 0.3rem 0;
  }
  
  .trend-form-reportform .infotype {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .trend-form-reportform .infotype table, th, td {
    border-collapse: collapse;
    border: 1px white solid;
  }
  
  .trend-form-reportform .infotype td {
    text-align: center;
  }
  
  .trend-form-reportform .infotype table {
    margin: 1rem;
    width: 90%;
    height: 2rem;
  }
  
  .trend-form-reportform .reports h1 {
    font-size: 1rem;
    margin: 0 1rem;
  }
  
  .trend-form-reportform .tank,
  .trend-form-reportform .infantry,
  .trend-form-reportform .helicopter,
  .trend-form-reportform .plane {
    display: flex;
  }
  
  .trend-form-reportform .amounts {
    margin-left: auto;
    margin-right: 5%;
  }
  
  .trend-form-reportform input[type="checkbox"] {
    margin-right: 1rem;
  }
  
  .trend-form-reportform input[type="number"] {
    width: 4rem;
  }