.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.filter hr {
  width: 100%;
}

.filter .filter-tag {
  width: 100%;
}

.filter .filter-tag h1 {
  margin: 1rem 0rem 0.25rem 1rem;
  font-size: 1.3rem;
}

.filter .location-region h1,
.filter .timeline h1,
.filter .status h1 {
  font-size: 1rem;
}

.filter .block {
  margin: 0.4rem 0.8rem 0.8rem 0.8rem;
  width: 90%;
}

.filter .block h1 {
  margin-bottom: 0.2rem;
}

.filter .location-region select {
  width: 100%;
  height: 2rem;
}

.filter .timeline .timeline-ui input[type="text"] {
  width: 25%;
  height: 100%;
}

.filter .timeline .timeline-ui {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 1.25rem;
}

.filter .status input[type="checkbox"] {
  margin-right: 8px;
}