.navbar {
  background-color: #3A4B58;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
}

.navbar h1 {
  margin: 1rem;
  font-size: 2rem;
}

.navbar .vl {
  width: 2px;
  height: 60%;
  background-color: white;
}

.navbar .description {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-left: 10px;
}

.navbar .description h1 {
  font-size: 0.9rem;
  margin: 0;
}

.navbar .email {
  margin-left: auto;
  margin-right: 0;
}

.navbar .email h1 {
  font-size: 0.9rem;
  cursor: pointer;
}

.navbar .user-menu {
  position: absolute;
  top: 8vh;
  right: 0;
  background-color: white;
  width: 13rem;
  height: 30%;
  z-index: 2;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
}

.navbar .user-menu-block {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar .user-menu-block h1 {
  margin: 0;
  font-size: 0.9rem;
}

.navbar .user-menu .logout {
  margin-bottom: 1rem;
  margin-top: auto;
}